*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* section 3 */

.section3-container {
  background-color: var(--secondary-section-bg);
  padding-bottom: 35px;
}

.inner-section3 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* form styling */

form {
  max-width: 750px;
  text-align: center;
  margin: 20px auto;
}

form input,
form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  font-family: "YanoneKaffeesatz", "Righteous-Regular", sans-serif;
  -moz-box-shadow: 0 0px 2px var(--form-inputs-hover);
  -webkit-box-shadow: 0 0px 2px var(--form-inputs-hover);
  box-shadow: 0 0px 2px var(--form-inputs-hover);
  font-size: 16px;
  resize: none;
}

form input:focus,
form textarea:focus {
  -moz-box-shadow: 0 0px 2px var(--form-inputs-hover);
  -webkit-box-shadow: 0 0px 2px var(--form-inputs-hover);
  border: 1px solid var(--form-inputs-hover);
  box-shadow: 0 0px 2px var(--form-inputs-hover);
}

form #input-submit {
  color: white;
  background: var(--green-bg-btn);
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 700ms ease-in-out;
}

form #input-submit:hover {
  background: var(--green-bg-btn-hover);
}

form textarea {
  height: 206px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */
/* .cf:before,
.cf:after {
  display: table;
}

.cf:after {
  clear: both;
} */

/* form labels */

form div {
  text-align: left;
  font-family: "YanoneKaffeesatz", "SuezOne-Regular", sans-serif;
  padding: 2px 0;
}

/* submit btn */

input[type="submit"] {
  margin-top: 0.6rem;
}
