.hidden-style {
  display: block;
}

.hidden-style-ops {
  display: none;
}

.flex-container {
  display: inline-block;
}

p {
  font-size: clamp(14px, 3.5vw, 16px);
}

h1 {
  font-size: clamp(18px, 3.5vw, 22px);
}

h3 {
  font-size: clamp(16px, 3.5vw, 20px);
}

.inner-section1,
.inner-section2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading-p {
  font-size: 16px;
}

.inner-section1 > div:last-child,
.inner-section2 > div:first-child {
  width: 100%;
}

.fadeInRight,
.fadeInLeft {
  animation: none;
}
