.parent {
  display: grid;
}

.div1 {
  background: var(--section-bg);
  width: 100%;
  padding-bottom: 50px;
  height: auto;
}

.inner-section1 {
  width: 80%;
  height: auto;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.div2 {
  background-color: white;
  padding-bottom: 100px;
}

/* section 2 */

.inner-section2 {
  width: 80%;
  height: auto;
  position: relative;
  margin-top: 3rem;
  background: var(--section-bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.section2-container h2 {
  padding: 1rem 0;
  text-align: center;
  background: var(--section-bg);
}

.inner-section1,
.inner-section2 {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.heading-p {
  font-size: 22px;
}

/* section 3 */

.section3-container {
  background-color: var(--secondary-section-bg);
  height: 80vh;
}

.inner-section3 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: height 700ms ease-in linear;
}
.inner-section1 div:last-child,
.inner-section2 div:first-child {
  width: 90%;
  padding: 0 20px;
  top: 0;
}
