/* section {0 - icons*/
.all-icons {
  height: 100%;
}
.all-icons > * {
  margin: 0 10px;
}
/* section1 */
.projects-parent-div {
  display: grid;
}

.projects-sec1 {
  background: var(--section-bg);
  width: 100%;
  padding-bottom: 50px;
  height: auto;
}

.projects-sec2 {
  background-color: white;
  padding-bottom: 100px;
}

.inner-section1 {
  width: 80%;
  height: auto;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* section 2 */

.inner-section2 {
  width: 80%;
  height: auto;
  position: relative;
  margin-top: 3rem;
  background: var(--section-bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.section2-container h2 {
  padding: 1rem 0;
  text-align: center;
  background: var(--section-bg);
}

.inner-section1,
.inner-section2 {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.inner-section1 > div:last-child,
.inner-section2 > div:first-child {
  width: 90%;
  padding: 0 20px;
  top: 0;
}

.heading-p {
  font-size: 22px;
}
