.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 5;
  background: var(--section-bg);
  height: 80vh;
  width: 100%;
}

.inner-section1 {
  width: 80%;
  margin: 3rem auto;
  height: 80%;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.div2 {
  grid-area: 2 / 1 / 3 / 5;
  background-color: white;
  height: 80vh;
}

/* section 2 */

.section2-container {
  height: 100vh;
  position: relative;
  color: var(--main-color);
}

.inner-section2 {
  width: 80%;
  margin: 3rem auto;
  height: 80%;
  background: var(--section-bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.section2-container h2 {
  padding: 1rem 0;
  text-align: center;
  background: var(--section-bg);
}
